<section class="languages">
    <h2 class="languages__heading">Supported Languages</h2>
    <!-- prettier-ignore -->
    <div class="languages__container">
        <%- include('language', { language: {
            name: 'Node.js',
            img: 'img/logos/node.png'
        } }) %>
        <%- include('language', { language: {
            name: 'Python',
            img: 'img/logos/python.png'
        } }) %>
        <%- include('language', { language: {
            name: 'C#',
            img: 'img/logos/csharp.png'
        } }) %>
        <%- include('language', { language: {
            name: 'Ruby',
            img: 'img/logos/ruby.png'
        } }) %>
        <%- include('language', { language: {
            name: 'PHP',
            img: 'img/logos/php.png'
        } }) %>
        <%- include('language', { language: {
            name: 'Scala',
            img: 'img/logos/scala.png'
        } }) %>
        <%- include('language', { language: {
            name: 'Clojure',
            img: 'img/logos/clojure.png'
        } }) %>
    </div>
</section>
